{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/styles.css" media="screen" />
{% endblock %}

{% block content %}
    <section class="wrapper-recipe">
        <div class="recipe">
            <div class="recipe_img">
                <img src="{{items.image}}" alt="Imagem de {{items.title}}">
            </div>
            <div class="content-recipe">
                <p class="revenue">{{items.title}}</p>
                <p class="author">{{items.author}}</p>
            </div>
        </div>

    <div id="ingredients" class="topic">
        <div class="recipe-menu">
            <h3>Ingredientes</h3> 
            <button>ESCONDER</button>
        </div>
        
        <div id="dash-list" class="topic-content">
            {% for ingredients in items.ingredients %}
                <li>
                    {{ingredients}}
                </li>
            {% endfor %}
        </div>


        <h3 id="preparation">Modo de Preparo</h3> <a href="/">ESCONDER</a>
        <p>{{items.preparation}}</p>
        <h3 id="information">Informações adicionais</h3> <a href="/">ESCONDER</a>
        <p id="information-recipe">{{items.information}}</p>
    </div>
    </section>
{% endblock %}
