{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/styles.css" media="screen" />
{% endblock %}

{% block content %}
    <main>
        <div>
            <div class="menu-image_recipe">
                <img src="{{items.image}}" alt="Imagem de {{items.title}}">
            </div>
            <div class="menu-info_recipe">
                <h1>{{items.title}}</h1>
                <h2>{{items.author}}</h2>
            </div>
        </div>

        <div class="content_recipe">
            <div class="topic">
                <h3>Ingredientes</h3> 
                <h4>ESCONDER</h4>
            </div>
            
            <div id="ingredients" class="topic-content">
                <ul>
                {% for ingredients in items.ingredients %}
                    <li>
                        {{ingredients}}
                    </li>
                {% endfor %}
                </ul>
            </div>

            <div class="topic">
                <h3>Modo de Preparo</h3>
                <h4>ESCONDER</h4>
            </div>
            <div id="preparation" class="topic-content">
                <ul>
                {% for preparation in items.preparation %}
                    <li>
                        {{preparation}}
                    </li>
                 {% endfor %}
                </ul>
            </div>
            
            <div id="information" class="topic">
                <h3>Informações adicionais</h3>
                <h4>ESCONDER</h4>
            </div>
            <div class="topic-content">
                <p>{{items.information}}</p>
            </div>
        </div>

        <script src="/scripts.js"></script>
    </section>
{% endblock %}
