{% extends "layoutAdmin.njk" %}

{% block content %}
    <form method="POST" action="/recipes">
        <section>
            <h1 class="create-title">Criando Receita</h1>

            {% include "recipes/fields.njk" %}
            
        </section>
    </form>
{% endblock %}