{% extends "layoutAdmin.njk" %}

{% block content %}

  <form method="POST" action="/admin/recipes?_method=PUT">
      <section>
          <div class="title-page">
              <h1 class="create-title">Editar Receita</h1>
              <button type="submit" class="btn-submit" >Salvar receita</button>
          </div>

          <input type="hidden" name="id" value={{ recipe.id }}>
          {% include "recipes/fields.njk" %}
      </section>
  </form>
{% endblock %}