<div class="item">
    <div class="title-item">Imagem da receita</div>
    <div>
        <input 
            type="url" 
            name="image_url"
            value="{{ recipe.image_url }}"
        >
    </div>
</div>

<div class="item">
    <div class="title-item">Ingredientes</div>
    <div id="ingredients">
        <div class="ingredient">
            <input type="text" name="ingredients[]" value="{{ ingredient }}"/>
        </div>
    </div>
        <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
</div>

<div class="item">
    <div class="title-item">Modo de preparo</div>
    <div id="prepare">
        <div class="prepare">
            <input type="text" name="preparation[]" value="{{ prepare }}"/>
        </div>
    </div>
        <button type="button" class="add-new-step">Adicionar novo passo</button>
</div>

<div class="item">
    <div class="title-item">Informações adicionais</div>
    <div>
        <textarea 
            name="description"
            value="{{ recipe.description }}"
            class="informations"
            cols="35"
            rows="8"
        ></textarea>
    </div>
</div>

    
<script src="/scripts.js"></script>
    