<div class="item">
    <div>Imagem da Receita</div>
    <div>
        <input 
            type="url" 
            name="image_url" 
        >
    </div>
</div>

<div class="item">
    <div>Ingredientes</div>
    <div id="ingredients">
        <div class="ingredient">
            <input type="text" name="ingredients[]" value=""/>
        </div>
    </div>
        <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
</div>

<div class="item">
    <div>Modo de preparo</div>
    <div id="ingredients">
        <div class="ingredient">
            <input type="text" name="ingredients[]" value=""/>
        </div>
    </div>
        <button type="button" class="add-ingredient">Adicionar novo passo</button>
</div>

<div class="item">
    <div>Informações adicionais</div>
    <div>
        <input 
            type="text" 
            name="info_add" 
        >
    </div>
</div>

    
<script src="/scripts.js"></script>
    