{% extends "layoutAdmin.njk" %}

{% block content  %}
  <main>
        <div>
          <div class="menu-recipe">
            <h1>Receita: Triplo Bacon Burguer</h1>
            <button type="submit">Editar receita</button>
          </div>
            <div class="menu-image_recipe">
                <img src="{{ recipe.image_url }}" alt="Imagem de">
            </div>
            <div class="menu-info_recipe">
                <h1>Triplo Burger Bacon</h1>
                <h2>por Jorge</h2>
            </div>
        </div>

        <div class="content_recipe">
            <div class="topic">
                <h3>Ingredientes</h3> 
            </div>
            <div class="topic-content">
                <ul>
                {% for ingredients in recipe.ingredients %}
                    <li>
                        {{ ingredients }}
                    </li>
                {% endfor %}
                </ul>
            </div>

            <div class="topic">
                <h3>Modo de Preparo</h3>
            </div>
            <div class="topic-content">
                <ul>
                {% for preparation in recipe.preparation %}
                    <li>
                        {{preparation}}
                    </li>
                 {% endfor %}
                </ul>
            </div>
            
            <div class="topic">
                <h3>Informações adicionais</h3>
            </div>
            <div class="topic-content">
                <p>{{ recipe.description }}</p>
            </div>
        </div>
    </main>
{% endblock %}