@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap';

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 0 230px;
    font-family: 'Roboto', sans-serif;
}

header {
    margin: 36px 0px 10px;
}

header .links a {
    text-decoration: none;
}

header .links #foodfy {
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;

}

section .container {
    background-color: #FBDFDB;
    border-radius: 30px;
    width: 100%;
    height: 366px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

section .container__info {
    
}

section .container__img {
    margin: auto;
    margin-bottom: 0px;
}