@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap';

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 0 230px;
    font-family: 'Roboto', sans-serif;
}


header .links{
    margin: 30px 0 26px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

header .links .menu a{
    text-decoration: none;
    color: #111;
    margin-right: 30px;
}

header .links .menu a:active {
    text-decoration: bold;
}

.wrapper .container {
    background-color: #FBDFDB;
    border-radius: 30px;
    margin-top: 20px;
    width: 100%;
    height: 366px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wrapper .container__info {
    margin: auto;
    width: 316px;
    font-size: 18px;
}
.wrapper .container__info h1 {
    font-size: 32px;
}
.wrapper .container__img {
    margin: auto;
    margin-bottom: 0px;
}

section h2 {
    margin: 50px 0px 20px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card .card_img img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

/*== MODAL ==*/

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    border-radius: 16px;
    width: 660px;
    height: 413px;
    margin: 20vh auto;
    position: relative;
    text-align: center;
}

.modal-img img {
    margin: 30px 30px 20px;
    border-radius: 15px;
    width: 600px;
    height: 200px;
}

.modal-title .title-revenue {
    font-size: 24px;
    margin-bottom: 5px;
}

.modal-title .modal-autor {
    font-size: 18px;
    color: #777;
    margin-bottom: 60px;
}

.modal .close-modal {
    cursor: pointer;
    color: #999;
    font-size: 16px;
}


/*== MODAL.ACTIVE ==*/

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}